<tr>
  
  <td>
    <%= link_to  "doctor_schedules_path(appointment.doctor)", data: {turbolinks: "false"} %>
  </td>
  <td>
    <%= link_to  "patient_path(appointment.patient)", data: {turbolinks: "false"} %>
  </td>
  <td class="btn_group">
    <ul>
      
    </ul>
  </td>
</tr>