<% provide :title, t("appointment_list") %>
<div class="container">
  <div class="card-header padding-card">
    <h1 class="card-title color-list">
      <%= t "appointment_list"%>
    </h1>
  </div>
  <div class="card-body">
    <%= render "table_appointment_list" %>
    <div>
      <%= render 'appointments/appointment' %>
    </div>
  </div>
</div>