<% provide :title, t("appointment") %>
<div class="breadvroumb_area">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h1><%= t "appointment" %></h1>
        <div class="breadcroumb_link">
          <%= link_to t("home"), root_url %>/<%= t "appointment" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="appoinment_form_area p100">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= render "appointments/form_appointment" %>
      </div>
    </div>
  </div>
</div>